
<link rel="stylesheet" href="~/css/about.css" />
<div class="about">
    <p>
        Super Shlomo is an Israeli chain of supermarkets and grocery stores.<br />
        The headquartered in Tel-Aviv, Israel..<br />
        The announcement of the establishment of the chain took place on 02/08/2018, and the grand opening of all five branches takes place today, on 12/11/2018.<br />
        The entire public is invited to our branches to celebrate the opening and to enjoy a variety of products at unprecedented discounts..<br />
        Super Sholomo is an amusing game between Superman and Shlomo, the owner of the new chain..<br />
    </p>
    <img src="~/images/Trust_me.png" />
</div>