@model IEnumerable<Product>

@{
    ViewData["Title"] = "Contact";
    var i = 0;
}
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">Categories</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-calendar"></i>
                            <span>Drinks</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-folder"></i>
                            <span>Meat</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-book"></i>
                            <span>Fruits</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
    </nav>
    <!-- sidebar-wrapper  -->

    <main class="page-content">
        <div class="container-fluid">
            <form asp-controller="Home" asp-action="SearchProducts" class="form-inline">
                <input class="form-control mr-sm-2" name="term" type="search" placeholder="Search" aria-label="Search">
                <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                <input type="submit" value="Search" />
            </form>
            <!--<div class="row">-->
            @foreach (var product in Model)
            {
                if (i == 2)
                {
                    i = 0;
                    //@:</div><div class="row">
                }
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="@product.Image" alt="@product.ProductName" style='display:block; width:150px;height:150px;'>
                        <div class="card-body">
                            <h5 class="card-title">@product.ProductName</h5>
                            <p class="card-text">@product.Description</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                if (i == 2)
                {
                    i = 0;
                }
                else
                {
                    ++i;
                }
            }
            <!--</div>-->

        </div>
    </main>
    <!-- page-content" -->
</div>
<!-- page-wrapper -->

<script>jQuery(function($) {

        $(".sidebar-dropdown > a").click(function() {
            $(".sidebar-submenu").slideUp(200);
            if (
                $(this)
                    .parent()
                    .hasClass("active")
            ) {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .parent()
                    .removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .next(".sidebar-submenu")
                    .slideDown(200);
                $(this)
                    .parent()
                    .addClass("active");
            }
        });

        $("#close-sidebar").click(function() {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function() {
            $(".page-wrapper").addClass("toggled");
        });




});</script>